.principal {
    display: flex;
    justify-content: center;

}
.fila{
    display: flex;
    flex-direction: row;
}

.tema {
    display: flex;
    padding: 0 5% 5px 5%;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-left: 20px;
}

.texto {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    text-align: center;
}